/* App.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: skyblue;
}

.login-box {
  background: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.social-login-options {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.google-login,
.facebook-login {
  background: #fff;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Add text-decoration to make them look like links */
  color: #007bff; /* Change the color to a link color */
  cursor: pointer;
}

.google-login i,
.facebook-login i {
  margin-right: 10px;
}

.google-login:hover,
.facebook-login:hover {
  background: #f0f0f0; /* Change the background color on hover */
}
